body {
	/* background:#0b33c4; */
	background:#0b40b9;
	background-image: url('../../assets/bg-1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height:100vh;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.trading-page {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color: rgba(0,0,0,0.75);
	border-radius: 10px;
	padding:20px;
	box-sizing: border-box;
	width:450px;
	height: auto;
	display: flex;
	flex-direction: column;
	color:#A4A4A4;
}
.trading-page .container-icon {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0px;
}
.trading-page .icon {
	text-align: center;
	font-size:15px;
}
.trading-top {
	border: 0.5px solid #A4A4A4;
	border-radius: 10px;
	padding:20px;
	color:#A4A4A4;
	position:relative;
}
.trading-top span {
	font-size:18px;
	line-height: 20px;
	font-weight: 600;
}
.trading-top input {
	outline: none;
	padding: 0 !important;
	background-color: transparent;
	border: none;
	color:#A4A4A4;
	font-size: 27px;
	width:120px;

}
.trading-top .input-container {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
}
.trading-page .header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.trading-page .header .balance {
	font-size: 16px;
}
.trading-page .header .prefix {
	font-size:20px
}
.trading-top .input-container img {
	width:40px;
	height:40px;
}
.trading-top .token-select-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding:5px;
	border-radius: 20px;
	font-size: 18px;
	background-color: rgba(0, 0, 0,0.5);
}
.trading-top .token-select-input .token-selector span {
	margin: 0px 10px;
}
.trading-bottom {
	border: 0.5px solid #A4A4A4;
	border-radius: 10px;
	padding:20px;
	color:#A4A4A4;
}
.trading-bottom span {

	font-size:18px;
	line-height: 20px;
	font-weight: 600;
}
.trading-bottom input {
	outline: none;
	padding: 0 !important;
	background-color: transparent;
	border: none;
	color:#A4A4A4;
	font-size: 27px;
	width:120px;
}
.trading-bottom .input-container {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.trading-bottom .input-container img {
	width:40px;
	height:40px;
}
.trading-bottom .token-select-output {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 20px;
	padding:5px;
	font-size:18px;
	background-color: rgba(0, 0, 0,0.5);
}
.trading-bottom .token-select-output span {
	font-weight: 600;
}
.icon-unknown {
	font-size: 35px;
}
.trading-bottom .token-select-output .token-selector span {
	margin: 0px 10px;
}
.ms-TooltipHost {
	width:100%;
}
.btn-primary {
	width:100%;
	font-size: 18px;
	background-color: #325AB7;
	color:white;
	border-radius: 10px;
	padding:20px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	font-weight: 400;
	letter-spacing:1.5px;
}
@media only screen and (max-height: 735px) {
	body{
		height:120vh;
	}
}
@media only screen and (max-width: 700px) {
	
  .trading-page {
    width:400px;
	}
	.trading-bottom {
		padding:15px;
	}
	.btn-primary {
		font-size: 15px;
	}
	.trading-bottom input {
		font-size:20px;
	}
	.trading-bottom span {
		font-size:17px;
	}
	.trading-top input {
		font-size:20px;
	}
	.trading-top span {
		font-size:17px;
	}
	.trading-bottom .token-select-output span {
		font-size:15px;
	}
}
@media only screen and (max-width: 400px) {
	.trading-page {
    width:100%;
	}
	.trading-top .input-container img {
		width:25px;
		height:25px;
	}
	.trading-bottom .input-container img {
		width:25px;
		height:25px;
	}
	.token-selector .icon{
		display:none !important;
	}
	.token-selector {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.trading-top .token-select-input .token-selector span {
		margin:0;
		margin-left:5px;
		font-size: 15px;
	}
	.trading-bottom .token-select-output .token-selector span{
		margin:0;
		font-size: 15px;
		margin-left:5px;
	}
}